
/* Samsung A50 */
@media only screen and (max-width:1080px)
{
    .batH{font-size: 70px}
    .batD{font-size: 60px}
    .batR{font-size: 60px}
    .batA{font-size: 60px}
.dup{top: 45px;font-size: 64px;border-radius: 35px;border: 6px solid;width: 442px;height: 99px;}
.bottheader2 {position: absolute;
    right: -20px;
    width: 102%;
    height: 260px;
    bottom: -500px;
    background-color: rgba(56, 65, 62, 0.62);
    padding: 0px;}
.rmenu {font-size: 43px;right: 61px;bottom: 30px;}
.ad {font-size: 38px;right: 20px;bottom: 149px;}
.widget {
    position: absolute;
    background-color: rgba(0, 255, 255, 0);
    width: 70%;
    height: 90%;
    right: -6px;
    top: 252px;
    display:none;
}
.ON {bottom: 10px;right: 10px;}
.WS{bottom: 10px;right: 10px;}
.VS{bottom: 10px;right: 10px;}
.stats {
    position: absolute;
    justify-content: center;
    text-align: center;
    padding-top: 125px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(127, 255, 212, 0);
    bottom: 150px;
    right: 20%;
    left: 20%;
    height: 35%;
    font-size: 62px;
    font-family: Oswald;
}

}
/* IPhone X */
@media only screen and (max-width:375px) 
{
    .batH{font-size: 70px}
    .batD{font-size: 60px}
    .batR{font-size: 60px}
    .batA{font-size: 60px}
.dup{top: 75px;font-size: 64px;border-radius: 35px;border: 6px solid;width: 442px;height: 99px;}
.bottheader2 {position: absolute;
    right: -20px;
    width: 102%;
    height: 260px;
    bottom: -1829px;
    background-color: rgba(56, 65, 62, 0.62);
    padding: 0px;}
.rmenu {font-size: 43px;right: 61px;bottom: 30px;}
.ad {font-size: 38px;right: 20px;bottom: 149px;}
.widget {
    position: absolute;
    background-color: rgba(0, 255, 255, 0);
    width: 70%;
    height: 90%;
    right: -6px;
    top: 252px;
    display:none;
}
.ON {bottom: 10px;right: 10px;}
.WS{bottom: 10px;right: 10px;}
.VS{bottom: 10px;right: 10px;}
.stats {
    position: absolute;
    justify-content: center;
    text-align: center;
    padding-top: 0px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(127, 255, 212, 0);
    bottom: -734px;
    right: 20%;
    left: 20%;
    height: 35%;
    font-size: 64px;
    font-family: Oswald;
    border-radius: 56px;
    margin: 0px;
    padding: 55px;
}
    .LHeader {height: 94%;}
}
/* Samsung A50 */
/* Samsung A50 */
