@media only screen and (max-width:360px) and (max-height:600px){.ofc {
    position: fixed;
    width: 100%;
    height: 100%;
    background: url(https://i.pinimg.com/originals/4e/30/c9/4e30c95dc885f880a2c2797fdee0e042.gif) repeat;
    background-size: cover;
    left: 0px;
}
.main {
    position: absolute;
    top: 10px;
    left: 127px;
    height: 1380px;
    width: 83%;
    background-color: rgba(0, 0, 139, 0);
    color: white;
    font-family: Oswald;
    font-size: 13px;
    font-weight: 100;
}
.dup {
    font-family: Oswald;
    color: white;
    position: absolute;
    background: url("/assets/img/7731a0804e2ede7cb96a2483cca8ccd7_w200%20.gif") no-repeat;
    width: 146px;
    height: 31px;
    right: 89px;
    border-radius: 27px;
    top: 9px;
    border: 3px solid;
    font-size: 21px;
    margin: auto;
    text-align: center;
    background-size: 40%;
    background-position: left;
    font-weight: 550;
    text-transform: uppercase;
    border: 3px solid;
    padding: 5px 5px!important;
    margin-right: 10px;
    text-align: center!important;
    z-index: 10000;
}
.ad2 {
    position: absolute;
    top: -11px;
    left: -121px;
}
.ad2 {
    position: absolute;
    top: -11px;
    left: -121px;
display: none;
}



}
@media only screen and (max-width:600px) and (max-height:1000px){.ofc {
    position: fixed;
    width: 100%;
    height: 100%;
    background: url(https://i.pinimg.com/originals/4e/30/c9/4e30c95dc885f880a2c2797fdee0e042.gif) repeat;
    background-size: cover;
    left: 0px;
}.main {
    position: absolute;
    top: 5%;
    left: 127px;
    height: 1380px;
    width: 58%;
    background-color: rgba(0, 0, 139, 0);
    color: white;
    font-family: Oswald;
    font-size: 13px;
    font-weight: 100;
}
.rmenu2 {
    position: absolute;
    top: 0px;
    left: 332px;
    display: none;
}
    .dup {
    font-family: Oswald;
    color: white;
    position: absolute;
    background: url(/assets/img/7731a08…_w200%20.gif) no-repeat;
    width: 146px;
    height: 30px;
    right: 10px;
    border-radius: 27px;
    top: 30px;
    border: 3px solid;
    font-size: 20px;
    margin: auto;
    text-align: center;
    background-size: 40%;
    background-position: left;
    font-weight: 550;
    text-transform: uppercase;
    border: 3px solid;
    padding: 5px 5px!important;
    margin-right: 10px;
    text-align: center!important;
    z-index: 10000;
}
.ad2 {
    position: absolute;
    top: -11px;
    left: -121px;
}
.ad2 {
    position: absolute;
    top: -11px;
    left: -121px;
display:none;
}}