body { font-family : "Open Sans", sans-serif;}

h1 {padding: 40px; text-align: center; font-size: 1.5em;}

li a {text-decoration : none; color : #2d2f31;}


nav {
  width : 300px; 
  background: #d9d9d9;
  margin : 40px auto; 
}

span {
  padding : 30px;
  background : #2d2f31; 
  color : white;
  font-size : 1.2em;
  font-variant : small-caps;
  cursor : pointer;
  display: block;
}

span::after {
  float: right;
  right: 10%;
  content: "+";
}

.slide {
  clear:both;
  width:1000%;
  height:0px;
  overflow: hidden;
  text-align: center;
  transition: height .4s ease;
}

.slide li {padding : 30px;}

#touch {position: absolute; opacity: 0; height: 0px;}    

#touch:checked + .slide {height: 300px;} 
.FDL {position: absolute;right: 0px;top: 0px; background:url(https://media.discordapp.net/attachments/688332382062903315/822004986362986506/unnamed.png) repeat;background-size:10%;width: 100%;height: 100%;}

.FDL_loaded
{
position: absolute;
width: 100%;
height: 100%;
top:0px ;
right: 0px;
background-color: rgba(0, 0, 0, 0.81);
z-index: 1000;
}